@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;0,800;1,300;1,400&family=Source+Code+Pro:wght@400;600;700&display=swap");

@font-face {
  font-family: Monalisa;
  src: url(monallesia-script/Monallesia/Monallesia\ Script.ttf);
}
::selection{
  background-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  min-height: 100vh;
}
header {
  font-family: "Source Code Pro",monospace;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  padding: 18px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 999;
  transition: 0.2s ease;
  overflow: hidden;
}
nav {
  display: flex;
  overflow-x: hidden;
}


header a {
  color: white;
  text-decoration: none;
}
nav a {
  display: block;
  position: relative;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px;
  padding-inline: 20px;
}
nav a:hover {
  color: white;
}
nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: rgb(208, 0, 255);
  transition: 0.2s ease;
}
nav a:hover::before {
  width: 70%;
}
nav a.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 70%;
  background-color: rgb(208, 0, 255);
}
.hamburg{
  display: none;
  position: fixed;
  top:35px;
  right:5vw;
  height:max-content;
  width: max-content;
  cursor: pointer;
}
.bar{
  height:2px;
  width:20px;
  margin-bottom:5px;
  background-color: white;
  transition: 0.2s ease;
}
.hamburg:hover .bottom{
  transform: translate(6px ,0);
}
.hamburg:hover .top{
  transform: translate(-6px,0);
}

section{
  position: relative;
  top:80px;
}
.main {
  font-family: Monalisa;
  /* margin: 10px 0; */
  width: 100%;
  min-height: 70vh;
}
.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-inline: 50px;
  gap: 50px;
  justify-content: space-around;
  height: 100%;
}
.main .hero-text {
  position: relative;
  top: 0;
  width: 800px;
  overflow: hidden;
  font-size: 28px;
  color: white;
  animation: textappear 0.5s ease;
}
.section-title {
  margin-left: 150px;
  color: rgba(255, 255, 255, 0.321);
  font-size: 1.3rem;
}
#name,
.role {
  position: relative;
  font-family: "Source Code Pro",monospace;
  font-size: 60px;
  color: rgb(208, 0, 255);
}
#main-image {
  filter: drop-shadow(-10px -10px 0 rgb(208, 0, 255));
}

.Download-CV{
all: unset;
display: block;
font-family: "Source code pro",monospace;
height: 40px;
margin-top:20px;
border: 1px solid white;
padding: 0px 20px;
font-size: 1rem;
border-radius: 60px;
cursor: pointer;
transition: 0.1s;
}
.fa-arrow-down {
opacity: 0;
color: white;
height: 10px;
margin-left: -10px;
transition: 0.2s ease;
transform: rotate(-90deg);
}
.typed-cursor{
  background-color:rgb(208, 0, 255);
}
button:hover > .fa-arrow-down {
opacity: 1;
margin-left: 10px;
transform: unset;
}
@keyframes textappear {
  0% {
    top: -30px;
    opacity: 0;
  }
  100% {
    top: 0;
  }
}

@media only screen and (max-width:1000px){
  nav{
    display: block;
    
    height: 0;
    width:100%;
    transition: 0.2s ease;
  }
  header{
    background-color: rgba(0, 0, 0, 0.435);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
  header.active nav{
    height:100vh;
  }
  header.active .hamburg .bar.top{
    transform: rotate(45deg);
  }
  header.active .hamburg .bar.bottom{
    margin-bottom: 0;
    transform: rotate(-45deg)
    translate(4px,-6px);
  }
  .hamburg{
    display: block;
  }
  nav a {
    font-size: 1.3rem;
    text-align: center;
    margin-top:20px;
  }
}